{{ 'carousel.css' | asset_url | stylesheet_tag }}

<script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>

<!-- {{ section.settings.image_picker | image_url }} <br> -->

{%- comment -%} image_url 最多支援到5760px {%- endcomment -%}

<div class="carousel">
  <button class="carousel-button prev" ><</button>
  <button class="carousel-button next" >></button>
    <div class="carousel-slide">
      
      {% if section.settings.image_picker1 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link1 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker1 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker1.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}
    
      {% if section.settings.image_picker2 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link2 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker2 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker2.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}

      {% if section.settings.image_picker3 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link3 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker3 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker3.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}

      {% if section.settings.image_picker4 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link4 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker4 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker4.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}

      {% if section.settings.image_picker5 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link5 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker5 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker5.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}

      {% if section.settings.image_picker6 %}
        <div class="carousel-image">
          <a href="{{ section.settings.link6 }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ section.settings.image_picker6 | image_url: width: 5760 }}" alt="{{ section.settings.image_picker6.alt }}" loading='lazy' />
          </a>
        </div>
      {% endif %}

    </div>
  <div class="dot-container"></div>
</div>



<!--{% assign image = images['IMAG2770.jpg'] %} <img src="{{ image | image_url }}" alt="{{ image.alt }}" /> -->




<!-- <img src="{{ section.blocks.settings.image1 | image_url }}" alt="">
<img src="{{ section.blocks.settings.image2 | image_url }}" alt="">
<img src="{{ section.blocks.settings.image3 | image_url }}" alt=""> -->


  
<script>
{% comment %} {{ images['files/IMAG2770.jpg'] | JSON }} {% endcomment %}
</script>

{% schema %}
{
  "name": "圖片幻燈片",
  "tag": "section",
  "settings": [
    {
      "id": "carousel_name",
      "type": "text",
      "label": "測試圖片幻燈片"
    },
    {
      "id": "image_picker1",
      "type": "image_picker",
      "label": "選擇圖片1"
    },
    {
      "id": "link1",
      "type": "text",
      "label": "圖片1連結",
      "default": "https://www.tasterselection.com"
    },
    {
      "id": "image_picker2",
      "type": "image_picker",
      "label": "選擇圖片2"
    },
    {
      "id": "link2",
      "type": "text",
      "label": "圖片2連結",
      "default": "https://www.tasterselection.com"
    },
    {
      "id": "image_picker3",
      "type": "image_picker",
      "label": "選擇圖片3"
    },
    {
      "id": "link3",
      "type": "text",
      "label": "圖片3連結",
      "default": "https://www.tasterselection.com"
    },
    {
      "id": "image_picker4",
      "type": "image_picker",
      "label": "選擇圖片4"
    },
    {
      "id": "link4",
      "type": "text",
      "label": "圖片4連結",
      "default": "https://www.tasterselection.com"
    },
    {
      "id": "image_picker5",
      "type": "image_picker",
      "label": "選擇圖片5"
    },
    {
      "id": "link5",
      "type": "text",
      "label": "圖片5連結",
      "default": "https://www.tasterselection.com"
    },
    {
      "id": "image_picker6",
      "type": "image_picker",
      "label": "選擇圖片6"
    },
    {
      "id": "link6",
      "type": "text",
      "label": "圖片6連結",
      "default": "https://www.tasterselection.com"
    }
  ],
  "presets": [
    {
      "name": "圖片幻燈片"
    }
  ]
}
{% endschema %}