{% style %}
  .custom-color {
    color: {{ section.settings.font_color }};
  }
{% endstyle %}

{{ 'product-card.css' | asset_url | stylesheet_tag }}

{% if section.settings.show_star %}
  <p>⭐️⭐️⭐️⭐️⭐️</p>
{% endif %}

{% if section.blocks %}
  <div class='product-card-section page-width'>
    <h3>{{ section.settings.card_title }}</h3>

    <ul class='product-card-container'>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product_card' %}
            {% unless block.settings.product == blank %}
              <li class='product-card'>
                <a
                  href='{{ block.settings.product.url }}'
                  target='_blank'
                  rel='noopenner noreferrer'
                >
                  <img
                    class='product-image'
                    src='{{ block.settings.product.images[0].src | img_url: 'medium' }}'
                    loading='lazy'
                  >
                  <div class='product-choose'>選擇品項</div>
                </a>

                <a
                  href='{{ block.settings.product.url }}'
                  target='_blank'
                  rel='noopenner noreferrer'
                >
                  <h4>{{ block.settings.product.title }}</h4>
                  <h4 class='product-price'>
                    {{ block.settings.product.price | money_without_trailing_zeros }}
                  </h4>
                </a>
              </li>
              <script>
                console.log({{ block.settings.product.images | json }});
              </script>
            {% endunless %}
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<p class='custom-color'>Its color can be controlled by the color picker.</p>

{% schema %}
{
  "name": "商品卡片",
  "tag": "section",
  "class": "custom-container",
  "settings": [
    {
      "id": "card_title",
      "type": "text",
      "label": "商品卡片標題",
      "default": "這是一組商品卡片",
      "info": "加上標題敘述"
    },
    {
      "id": "show_star",
      "type": "checkbox",
      "label": "Show review stars",
      "default": true
    },
    {
      "type": "article",
      "id": "article",
      "label": "Article"
    },
    {
      "id": "font_color",
      "type": "color",
      "label": "字體顏色",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "商品卡片",
      "type": "product_card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "選擇商品"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "商品卡片"
    }
  ]
}
{% endschema %}
